<%- include('./include/_header') %>

<!-- Main -->
<main id="site-main">
    <div class="button-box">
        <a href="/contacts/add" class="btn btn-light"><i class="fa-solid fa-user-plus"></i>연락처 추가</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>이름</th>
            <th>메일 주소</th>
            <th>전화번호</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <% contacts.forEach( contacts => {%>
        <tr>
            <td> <%=contacts.name %></td>
            <td> <%= contacts.email%></td>
            <td> <%= contacts.phone %></td>
            <td>
                <a href="#" class='bin update' title='수정'>
                <i class="fas fa-pencil-alt"></i>
                    </a>
                <a herf = '#' class = 'bin delete' title="삭제">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</main>
<!-- /Main -->

<%- include('./include/_footer')%>